<div class="row">
	<div class="col-md-4">
		<h1><%= current_user.name %></h1>
		<%= link_to "View my profile", user_path(current_user) %>
		<hr>
		<h5>Share your thoughts</h5>

		<%= form_for @micropost do |f| %>
			<div class="form-group">
				<%= f.text_area :content, class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= f.file_field :picture %>
			</div>

			<% if @micropost.errors.any? %>
				<div class="alert alert-danger">
					<ul class="m-0">
						<% @micropost.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<%= f.submit "Post", class: 'btn btn-success form-control' %>
		<% end %>
	</div>
	<div class="col-md-8">
		<h3>Feed</h3>
		<% @microposts.each do |micropost| %>
			<div class="media border-top p-2">
				<div class="media-body">
					<h5><%= link_to micropost.user.name, user_path(micropost.user) %></h5>
					<div><%= micropost.content %></div>
					<div>
						<%= image_tag(micropost.picture.url, class: 'mw-100') if micropost.picture? %>
					</div>
					<small class="text-muted">
						Posted <%= time_ago_in_words(micropost.created_at) %> ago
					</small>
				</div>
			</div>
		<% end %>
	</div>
</div>