<div class="row">
	<div class="col-md-4">
		<h1><%= @user.name %></h1>
		<p><%= @user.email %></p>
		<hr>
		<h5><%= @user.followers.count %> followers</h5>
 		<h5><%= @user.following.count %> following</h5>
 		<hr>
 		<% unless current_user == @user %>
	 		<% if relationship = current_user.relationship(@user) %>
	 			<%= button_to "Unfollow", relationship_path(relationship), method: :delete, class: 'btn btn-secondary btn-block' %>
	 		<% else %>
	 			<%= button_to "Follow", relationships_path, params: {followed_id: @user.id}, class: 'btn btn-success btn-block' %>
	 		<% end %>
	 	<% end %>
	</div>
	<div class="col-md-8">
		<h3>Microposts(<%= @user.microposts.count %>)</h3>
		
		<% @user.microposts.each do |micropost| %>
			<div class="media border-top p-2">
				<div class="media-body">
					<h5><%= link_to micropost.user.name, user_path(micropost.user) %></h5>
					<%= micropost.content %>
				</div>
			</div>
		<% end %>
	</div>
</div>
